$a-tags: 'a, a:active, a:hover, a:visited, &:focus, &:active:focus, &:active:hover';

.container {
  #{$a-tags} {
    text-decoration: none;
  }
  margin: 5% 0 0 0;
}

.main {
  max-width: 320px;
  margin: 0 auto;
}
.login {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.h3 {
  text-align: center;
  line-height: 300%;
  #{$a-tags} {
    color: rgb(232, 142, 58);
  }
}
.registerButton {
  background-color: rgb(232, 142, 58);
  color: rgb(255, 255, 255);
}
