$a-tags: 'a, a:active, a:hover, a:visited, &:focus, &:active:focus, &:active:hover';

.container {
  margin: 5% 0 0 0;
  #{$a-tags} {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
}

.avatar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  img {
    width: 25%;
    margin: 0 0 2% 0;
  }
  p {
    font-size: 4em;
  }
}

.userButtons, .dietButtons {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  button {
    background-color: rgba(232, 142, 58, 0.75);
  }
}

.panel {
  margin: 6% 0 0 0;
}

.data {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tittle {
  font-weight: bold;
  margin: 0 2% 0 0;
}

.result {
  color: rgb(60, 58, 58);
}
