@import url('https://fonts.googleapis.com/css?family=Sansita');
$a-tags: 'a, a:active, a:hover, a:visited, &:focus, &:active:focus, &:active:hover';

.container {
  margin: 5% 0 0 0;
  #{$a-tags} {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
}

.avatar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  img {
    width: 25%;
    margin: 0 0 2% 0;
  }
  p {
    font-size: 4em;
    font-family: 'Sansita', sans-serif;
  }
}
