@import url('https://fonts.googleapis.com/css?family=Lobster');

$a-tags: 'a, a:active, a:hover, a:visited, &:focus, &:active:focus, &:active:hover';

.container {
  #{$a-tags} {
    text-decoration: none;
  }
}

.main {
  margin: 0 auto;
  max-width: 320px;
}
.login {
  color: #aaa;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.span {
  background-color: #fff;
  display: block;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  text-align: center;
  top: -2px;
  width: 50px;
}
.hr {
  background-color: #cdcdcd;
  height: 1px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
.h3 {
  line-height: 300%;
  text-align: center;
  #{$a-tags} {
    color: rgb(57, 144, 128);
  }
}
.loginButton {
  background-color: rgb(57, 144, 128);
  color: rgb(255, 255, 255);
}

.title {
  font-family: 'Lobster', sans-serif;
  font-size: 2.5em;
}
