@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Sansita');

.container {
  text-align: justify;
  margin: 4% 0 10% 0;
}

.container {
  h3, button {
    font-family: 'Sansita', sans-serif;
  }
  p {
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
  }
}
