@import url('https://fonts.googleapis.com/css?family=Lobster');

$a-tags: 'a, a:active, a:hover, a:visited, &:focus, &:active:focus, &:active:hover';

.container {
  #{$a-tags} {
    text-decoration: none;
  }
}

.main {
  max-width: 320px;
  margin: 0 auto;
}
.login {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.h3 {
  text-align: center;
  line-height: 300%;
  #{$a-tags} {
    color: rgb(57, 144, 128);
  }
}
.registerButton {
  background-color: rgb(57, 144, 128);
  color: rgb(255, 255, 255);
}

.miniTitle {
  font-family: 'Lobster', sans-serif;
  font-size: 1.3em;
}
