@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.userButtons, .dietButtons {
  display: inline-flex;
  flex-wrap: wrap;
  font-family: 'Sansita', sans-serif;
  justify-content: center;
  width: 100%;
  button {
    background-color: rgba(57, 144, 128, 0.75);
  }
}
.container{
  a{
    margin: 0 2% 0 0;
  }
}

.panel {
  margin: 5% 0 9% 0;
}

.data {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 1.2em;
  p {
    font-family: 'Lobster', 'sans-serif';
    font-size: 1.2em;
  }
}

.tittle {
  font-weight: bold;
  margin: 0 2% 0 0;
}

.result {
  color: rgb(60, 58, 58);
}

.footer {
  background-color: rgb(255, 255, 255);
  border: none;
  font-family: 'Sansita', sans-serif;
}
