$a-tags: 'a, a:active, a:hover, a:visited, &:focus, &:active:focus, &:active:hover';

.navBar {
  background: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  border-color: transparent;
  padding: 10px;
  z-index: 9999;
  margin: 0 0 0 0;
}

.log {
  font-family: sans-serif;
  #{$a-tags} {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}

.logged {
  #{$a-tags} {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}

.hamburguerUl {
  color: rgb(255, 255, 255);
  #{$a-tags} {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}
