.container {
  margin: 5% 0 0 0;
  img {
    border-radius: 7%;
    width: 70%;
  }
  button {
    margin: 3% 0 0 0;
  }
}

.group {
  display: inline-flex;
  flex-wrap: wrap;
}

.info {
  margin: 3% 0 0 0;
  text-align: center;
}

.heading {
  border: none;
}

.commonElement {
  border-radius: 2%;
  margin: 0 auto;
  padding: 1%;
}

.menus {
  background-color: blue;
}

.exercises {
  background-color: red;
  margin: 2% 0 0 0;
}
