$a-tags: 'a, a:active, a:hover, a:visited, &:focus, &:active:focus, &:active:hover';

.body {
  button {
    float: right;
    margin: 2% 2% 0 0;
  }
}

.container {
  margin: 3% 0 5% 0;
}

.deleteButton {
  margin: 3% 0 5% 0;
  button {
    color: rgb(255, 255, 255);
  }
  #{a-tags} {
    color: rgb(255, 255, 255);
  }
}
